<div class="row">
  <div class="col-md-12">
    <p>Content</p>

    <div justgage
         value="{{config.value}}" value-font-color="{{config.valueFontColor}}"
         width="{{config.width}}" height="{{config.config.height}}" relative-gauge-size="{{config.relativeGaugeSize}}"
         value-min-font-size="{{config.valueMinFontSize}}" title-min-font-size="{{config.titleMinFontSize}}"
         label-min-font-size="{{config.labelMinFontSize}}" min-label-min-font-size="{{config.minLabelMinFontSize}}"
         maxLabelMinFontSize="{{config.maxLabelMinFontSize}}"
         min="{{config.min}}" max="{{config.max}}"
         hide-min-max="{{config.hideMinMax}}" hide-value="{{config.hideValue}}" hide-inner-shadow="{{config.hideInnerShadow}}"
         gauge-width-scale="{{config.gaugeWidthScale}}" gauge-color="{{config.gaugeColor}}"
         show-inner-shadow="{{config.showInnerShadow}}" shadow-opacity="{{config.shadowOpacity}}"
         shadow-size="{{config.shadowSize}}" shadow-vertical-offset="{{config.shadowVerticalOffset}}"
         level-colors="{{config.levelColors}}" custom-sectors="{{config.customSectors}}" no-gradient="{{config.noGradient}}"
         label="{{config.label}}" label-font-color="{{config.labelFontColor}}"
         start-animation-time="{{config.startAnimationTime}}" start-animation-type="{{config.startAnimationType}}"
         refresh-animation-time="{{config.refreshAnimationTime}}" refresh-animation-type="{{config.refreshAnimationType}}"
         donut="{{config.donut}}" donut-start-angle="{{config.donutStartAngle}}"
         counter="{{config.counter}}" decimals="{{config.decimals}}" symbol="{{config.symbol}}" format-number="{{config.formatNumber}}"
         human-friendly="{{config.humanFriendly}}" human-friendly-decimal="{{config.humanFriendlyDecimal}}"
         text-renderer="textRenderer"></div>

</div>

</div>
